/* IBM Plex Sans, Be Vietnam Pro, Poppins */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


*:not(svg, button){
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

html::-webkit-scrollbar{
    display: none;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body{
    font-family: 'Poppins', sans-serif;

}

body.overflow{
    overflow: hidden;
}

header{
    z-index: 9999;
}

.active{
    color: blueviolet;
}

a:hover{
    color: blueviolet;
}

#nav-screen.open{
    left: 0%;
}

#nav-screen{
    z-index: 9999;
    overflow: hidden;
    left: 100%;
}

svg{
    transition: all 0s linear;
}

#home button{
    transform: translateX(-2.5px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,.25));
    animation: animate 0.5s ease-in-out infinite alternate;
    -webkit-animation: animate 0.5s ease-in-out infinite alternate;
    -o-animation: animate 0.5s ease-in-out infinite alternate;
    -moz-animation: animate 0.5s ease-in-out infinite alternate;
}

@keyframes animate {
    100%{
        transform: translateX(2.5px);
    }
    
}

.card{
    font-family: 'be vietnam pro', sans-serif;
}

.register{
    font-family: 'be vietnam pro',sans-serif;
}